@page
@model RazorBookList.Pages.BookList.CreateModel
@{

}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/css/bootstrap-multiselect.css" type="text/css" />

<form asp-action="OnPost" enctype="multipart/form-data" role="form">
    <div class="row container w-75 p-0 m-0 overflow">
        <div class="col-9">
            <h2 class="text-info text-black-50">Create book</h2>
        </div>
        <div class="col-md-12">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Name" class="control-label"></label>
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group authors">
                <label asp-for="Book.AuthorId" class="control-label"></label>
                <select class="form-control" asp-for="Book.AuthorId" asp-items="Model.Authors"></select>
                <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-check float-right">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Without author
                </label>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Book.ISBN" class="control-label"></label>
                <input asp-for="Book.ISBN" class="form-control" />
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <textarea asp-for="Book.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Image"></label>
                <div class="custom-file">
                    <input class="form-control custom-file-input" asp-for="Book.Image" type="file" />
                    <label class="custom-file-label">Click here to change photo</label>
                </div>
            </div>
            <br />
            @if (Model.IsStoresExists)
            {
                <div class="form-group">
                    <label class="control-label mr-5">Available in</label>
                    <select class="form-control" id="example-modal" multiple="multiple" asp-for="StoreIds" asp-items="Model.Stores">
                    </select>
                </div>
            }
            <hr />
            <div class="form-group row">
                <div class="col-4">
                    <input type="submit" value="Create" class="btn btn-primary form-control" />
                </div>
                <div class="col-4">
                    <a asp-page="Index" class="btn btn-success form-control">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap/dist/js/popper.min.js" type="text/javascript"></script>
<script src="~/js/bootstrap-multiselect.js" type="text/javascript"></script>

<script type="text/javascript">
        $('#example-modal').multiselect();

    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}