@page
@model RazorBookList.Pages.BookList.EditModel
@{
    Layout = null;
}

<div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <form asp-action="OnPost">
                        <input hidden asp-for="Book.Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input hidden asp-for="Book.Id" />
                            <label asp-for="Book.Name" class="control-label"></label>
                            <input asp-for="Book.Name" class="form-control" />
                            <span asp-validation-for="Book.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.AuthorId" class="control-label"></label>
                            <select class="form-control" asp-for="Book.AuthorId" asp-items="Model.Authors"></select>
                            <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.ISBN" class="control-label"></label>
                            <input asp-for="Book.ISBN" class="form-control" />
                            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <div class="col-4">
                                <input type="submit" value="Save" class="btn btn-primary form-control sub" />
                            </div>
                            <div class="col-4">
                                <a asp-page="Index"><span class="btn btn-success form-control">Cancel</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}